@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.open-sans-basic {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
a{
    text-decoration: none;
    color: #fff;
}
.text-primary{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
}
.common-bg{
    background-color: #FFF8F3;
}
.dark01{
    color: #181818;
}
.dark02{
    color: #474747;
}
.dark03{
    color: #757575;
}
.orange-text{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    color:#ffffff;
    font-size: 16px;
    font-weight: bold;
}
/* nav styles */
header{
    background-image: url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}
nav{
    /* padding: 50px; */
    margin: 50px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1000px; */
}
.header-title{
    font-size: 35px;
    font-weight: bolder;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 20px;
    font-size: 16px;
}
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}
.intro-div{
    max-width: 585px;
    margin: 0px 20px 0px 170px;
}
.greet{
    font-size: 40px;
    font-weight: 500;
}
.intro-div img{
    height: 520px;
}
.intro-name{
    font-size: 70px;
    font-weight: 600;
}
.intro-text{
    margin: 15px 0px;
}
.intro-div button{
    margin-right: 20px;
}
.about-sec{
    margin: 80px 180px;
    padding: 120px 150px;
    text-align: center;
}
.about-sec-inner{
    background-color: #fff;
}
.about-head{
    font-size: 30px;
    font-weight: bold;
}
.about-para{
    margin: 25px 0px;
}
.about-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}